# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# infra
**/terragrunt-debug.tfvars.json
**/.terraform
**/.terragrunt-cache
**/.terraform.lock.hcl
**/zz_generated.*.tf
